@import "~bootstrap/dist/css/bootstrap.css";

$rydp-red: #a22836;
$rydp-light-red: #c25e6a;
$rydp-white: #edf2f4;
$rydp-light-gray: #cacecf;
$rydp-gray: #5f5f5f;


.app {
    font-family: 'Lora', serif;
}